
Mini Search Engine/x64/Debug/Mini Search Engine.pdb
Mini Search Engine/x64/Debug/Mini Search Engine.exe
Mini Search Engine/Mini Search Engine/x64/Debug/vc142.pdb
Mini Search Engine/.vs/Mini Search Engine/v16/ipch/AutoPCH/bc7e9ecb18343a0e/FUNCTION.ipch
Mini Search Engine/.vs/Mini Search Engine/v16/.suo
Mini Search Engine/.vs/Mini Search Engine/v16/.suo
Mini Search Engine/.vs/Mini Search Engine/v16/Browse.VC.db
Mini Search Engine/.vs/Mini Search Engine/v16/.suo
Mini Search Engine/x64/Debug/Mini Search Engine.pdb
Mini Search Engine/.vs/Mini Search Engine/v16/Browse.VC.db
*.db
Mini Search Engine/.vs/Mini Search Engine/v16/Browse.VC.db
*.db
Mini Search Engine/.vs/Mini Search Engine/v16/Browse.VC.opendb
Mini Search Engine/.vs/Mini Search Engine/v16/Browse.VC.db-wal
Mini Search Engine/.vs/Mini Search Engine/v16/Browse.VC.db-shm
Mini Search Engine/.vs/Mini Search Engine/v16/Browse.VC.db
*.db
Mini Search Engine/x64/Debug/Mini Search Engine.exe
*.exe
*.pdb
*.obj
*.tlog
Mini Search Engine/Mini Search Engine/x64/Debug/Mini Sea.6477EC72.tlog/CL.write.1.tlog
